.parentdivmargin {
    margin: 0 40%;
}

.childdivmargin {
    margin: 0 20%;
}

.individualp {
    background-color: rgb(236, 234, 234);
    border-radius: 25px;
    padding: 2.5%;
    margin: 2.5%;
  }