.unstylenavlink {
    text-decoration: none;
    color: white;
    margin: 0 10px 0 10px;
    font-size: 1.25rem;
    font-family: 'Roboto Slab', serif;
  }
  
  .brand {
    font-size: 2.5rem;
    margin: 0 25px 0 0;
    font-family: 'Aref Ruqaa Ink', serif;
    padding: 0 0 12.5px 0;    
  }